.mobile {
  display: none; }

.desktop {
  display: block; }

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #272629;
  font-size: .9em; }

a {
  color: #272629;
  font-size: .9em;
  padding-top: -10px;
  text-transform: uppercase; }

a:hover {
  color: #272629; }

a:visited {
  color: #272629; }

a:focus {
  color: #272629; }

h3 {
  color: #296170;
  text-align: center;
  font-family: 'Work Sans', sans-serif; }

h4 {
  color: #296170;
  margin-bottom: 25px;
  text-decoration: underline;
  font-family: 'Work Sans', sans-serif; }

.emph {
  color: white; }

.subhead {
  text-transform: uppercase;
  color: #296170;
  margin-bottom: 0em;
  margin-top: 10px; }

.header {
  height: 80px;
  padding-top: 10px; }

.header a {
  color: white;
  padding-top: -10px;
  text-transform: uppercase;
  text-decoration: none !important; }

.header p {
  color: white;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif; }

.full-photo {
  background: url(../images/BriJamieCover.jpg) no-repeat center center fixed;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.intro {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-bottom: 20px;
  font-size: 1em; }

.photo-frame-rect {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px; }

.photo-frame-rect img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%; }

.photo-frame-rect2 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 220px; }

.photo-frame-rect2 img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%; }

.ornament {
  width: 60px;
  margin-top: 15px; }

.add-space {
  margin-top: 35px; }

#map {
  max-width: 1200px;
  height: 500px;
  margin: auto; }

.centered p {
  text-align: center; }

.registry {
  display: block;
  max-width: 320px;
  border: solid 2px #296170;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #296170;
  line-height: 44px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

.registry:hover {
  border: none;
  color: white;
  background-color: #296170;
  text-decoration: none !important; }

.main-nav {
  display: block;
  max-width: 190px;
  border: solid 2px white;
  margin-bottom: 5px;
  color: white;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

.main-nav:hover {
  display: block;
  max-width: 190px;
  border: solid 2px white;
  margin-bottom: 5px;
  color: white;
  background-color: #296170;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

.story-pic {
  position: relative;
  width: 95%;
  margin-bottom: 0px; }

.story-pic img {
  position: relative;
  width: 95%;
  margin-bottom: 0px; }

.footer {
  color: #296170;
  font-weight: bold;
  text-align: center;
  margin-top: 40px; }

@media only screen and (max-width: 600px) {
  .mobile {
    display: block; }

  .desktop {
    display: none; }

  .full-photo {
    background: url(../images/BriJamieCover-mobile2.jpg) no-repeat center center fixed;
    background-size: auto 1000px; } }

/*# sourceMappingURL=style.css.map */
