$sage: #8BA974;
$gray: #807F83;

p{
	font-family: 'Muli', sans-serif;
	color: $gray;
	font-size:.9em;
}

a{
	color:$gray;
}

a:hover{
	color:$sage;
}

a:visited{
	color:$sage;
}

a:focus{
	color:$sage;
}

h3{
	color:$sage;
	text-align:center;
	font-family: 'Abril Fatface', cursive;
}

h4{
	color:$sage;
	margin-bottom:25px;
	text-decoration:underline;
	font-family: 'Abril Fatface', cursive;
}

.emph{
	color:white;
}

.subhead{
	text-transform:uppercase;
	color:$sage;
	margin-bottom:0em;
	margin-top:10px;
}

.header{
	background-color:$sage;
	height:80px;
}

.header p{
	color: black;
	margin-top: 28px;
	text-align: center;
	font-family: 'Abril Fatface', cursive;
}

.full-photo{
	background: url(../images/alexalex_placeholder.jpg) no-repeat center center fixed; 
	height:70vh;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.full-photo p{
	font-size: 2em;
	color: white;
	text-align: center;
	position: relative;
	margin-top:30vh;
	font-family: 'Abril Fatface', cursive;
}

.intro{
	text-align:center;
	max-width:700px;
	margin:auto;
	margin-bottom: 20px;
	font-size:1em;
}

.photo-frame-rect {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 300px;
}
.photo-frame-rect img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.ornament{
	width:60px;
	margin-top:15px;
}

.add-space{
	margin-top:35px;
}

#map {
    max-width: 1200px;
    height: 500px;
    margin: auto;
}

.centered p{
	text-align: center;
}

.registry{
	display: block;
    max-width: 320px;
    border: solid 2px $sage;
    margin: 0 auto;
    margin-bottom:15px;
    color:$sage;
    line-height: 44px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.registry:hover{
	border: none;
    color:white;
    background-color:$sage;
}

.footer{
	color:$sage;
	font-weight:bold;
	text-align:center;
	margin-top:40px;
}


